*{ 
box-sizing: border-box;
}

.searchbar{
        margin:40px;
        padding:40px;
        font-size:30px;
        justify-content:space-between;
        float:right;
        
}

a{
    margin:20px;
    padding:20px;
    border:10px;
    text-decoration:none;
    color: black;
}