* {
  font-family: "Muli";
  box-sizing: border-box;
}

body {
  
  background-color: rgb(58, 15, 104);
  
}
header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  height: 100px;
 
  
}

.logo {
    display:flex;
    align-items:center;
    justify-content: center;
     margin: 40px;
     height:50%;
     
}

.options {
  margin: 20px;
  padding: 40px;
}

a {
  font-size: 20px;
  border: 15px;
  margin: 15px;
  padding:15px;
  text-decoration: none;
  color: #BF91C1;

}
a:hover {
    background-color: rgba(99, 45, 156, 0.276);
   
  }
  
  .active {
    border-bottom: 2px solid #BF91C1;
 
  }

.main-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
    display:flex;
    align-items:center;
    justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 20px;
}

.content {
    font-size:30px;
    display:flex;
    align-items:center;
    justify-content: center;  
  margin: 30px;
  padding: 30px;
  border: 30px;
}

footer{
    display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  height: 50px;
}