* {
  font-family: "Muli";
  box-sizing: border-box;
}

body {
  background-color: rgb(41, 19, 64);
  max-width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 10px;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    width: auto;
    height: auto;
  }
}

@media (max-width: 600px) {
  .logo-image {
    height: 50px;
    width: 50px;
  }
}

.logo-image {
  height: 100%;
}

.footer-icons {
  width: 20px;
  height: auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  height: 50%;
}

.options {
  margin: 10px;
  padding: 10px;
}

@media (max-width: 600px) {
  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

a {
  font-size: 20px;
  border: 15px;
  margin: 15px;
  padding: 15px;
  text-decoration: none;
  color: #bf91c1;
}

a:hover {
  background-color: rgba(99, 45, 156, 0.276);
}

.active {
  border-bottom: 2px solid #bf91c1;
}

@media (max-width: 600px) {
  .paragraph,
  .header1,
  .header2 {
    text-align: center;
  }
  .content {
    align-items: center;
  }
}

.main-box {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border: 10px;
}

.header1 {
  color: #cfaad0;
}

.header2 {
  color: #7b42e7;
}

.paragraph {
  color: #cfaad0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border: 10px;
}

.icon-image {
  max-width: 60%;
  height: auto;
}

.content {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px;
  padding: 30px;
  border: 30px;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.button {
  background: none;
  padding: 20px;
  border-radius: 50px;
  position: relative;
  margin-top: 5px;
  display: inline-block;
  font-family: "Muli";
  color: white;
  text-decoration: none;
  z-index: 2;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 1px;
  margin: 50px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

@media (max-width: 600px) {
  footer {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .main-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.greeting {
  text-align: center;
  color: #bf91c1;
  font-size: 30px;
}

.download-button {
  padding: 10px;
  border: 10px;
  background-color: rgb(64, 30, 100);
  color: #8e6590;
  border-radius: 5%;
  cursor: pointer;
}

.download-button:hover {
  background-color: rgb(79, 42, 120);
}

.profile {
  max-width: 30%;
  height: auto;
  border-radius: 50%;
}

.box-1 {
  color: #bf91c1;
  font-size: 20px;
  text-align: center;
}

.about-me {
  text-align: center;
  color: #bf91c1;
  margin: 10px;
  padding: 10px;
  border: 10px;
  font-size: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  color: #bf91c1;
  margin: 10px;
  padding: 10px;
  border: 10px;
  font-size: 20px;
}

.soft {
  color: #bf91c1;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 10px;
}

.hard {
  color: #bf91c1;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 10px;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

@media (max-width: 600px) {
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1500px) {
  .box-1,
  .soft,
  .hard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

.all-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
  padding: 10px;
  border: 10px;
}

.image {
  width: 100%;
  height: auto;
}

.project {
  background-color: rgb(50, 22, 79);
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 10px;
  border-radius: 30px;
}

@media (max-width: 600px) {
  .all-projects {
    grid-template-columns: repeat(1, 1fr);
  }
}
